In [3]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [5]:
# MySQL database credentials
db_username = ''
db_password = ''
db_host = ''  # or your MySQL server IP
db_port = ''  # Default MySQL port
db_name = ''

In [7]:
# Create a connection string
connection_string = f'mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)

In [13]:
# import sales data to mysql database
directory = './CSV2011-2020'

# Loop through each CSV file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory, filename)
        table_name = filename.rstrip('.csv')
        # Insert the data into the MySQL table
        for chunk in pd.read_csv(file_path, chunksize=100000):
            chunk.to_sql(table_name, con=engine, if_exists='append', index=False)
            print('10000 chunk done')

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2011' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2012' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2014' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2015' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)
C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2016' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done
10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

10000 chunk done
10000 chunk done

C:\Users\admin\AppData\Local\Temp\ipykernel_13144\3914066242.py:11: UserWarning: The provided table name 'Sales2020' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  chunk.to_sql(table_name, con=engine, if_exists='append', index=False)

In [29]:
dir = './LOOKUP'

for file in os.listdir(dir):
    if file.endswith('.csv'):
        file_path = os.path.join(dir, file)
        table_name = file.rstrip('.csv')
        df = pd.read_csv(file_path)
        # Insert the data into the MySQL table
        df.to_sql(table_name, con=engine, if_exists='append', index=False)
    print('done', table_name)

done channel
done channel
done product
done region
done sales_rep
done segment